<div class="slider fullscreen font-kristi">
    <ul class="slides">
        <li>
            <img src="assets/city1.jpg">
            <div class="caption center-align black-text">
              <h3>Caricatures by photo</h3>
              <h5>Here's some text</h5>
            </div>
        </li>
        <li>
            <img src="assets/caricature1.jpg">
            <div class="caption left-align black-text">
              <h3>Murals</h3>
              <h5>Here's some text</h5>
            </div>
        </li>
        <li>
            <img src="assets/flower1.jpg">
            <div class="caption right-align black-text">
              <h3>Oil paintings</h3>
              <h5>Here's some text</h5>
            </div>
        </li>
        <li>
            <img src="assets/ship1.jpg">
            <div class="caption center-align black-text">
              <h1>This is our big Tagline!</h1>
              <h5>Here's some text</h5>
            </div>
        </li>
    </ul>
</div>

<div id="app">React
</div>
