<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="<%= Category.first.photo %>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/1"><h1 class="font-cursive-shadow">Caricatures by photo</h1></a>
              <a href="./gallery/1"><p class="large-120">
                  Colored caricature made by NadinPaint - is a perfect gift that will suit anyone, regardless of gender, age, income, hobbies, etc. High quality caricature - is a presentable, respectable and exclusive gift. Such gift can become a part of the interior because all our caricatures comes with a frame. Colored caricature is possible to present on birthday, Christmas or any other holiday. If you do not know what to present to a person - caricature by photo will be a great solution. This caricature would be relevant even to the person who has everything! Many businessmen, stars and politicians were drawn during the years of our successful work.
                  Caricature by photo - it's a simple pleasure for complicated persons!
                  Colored caricatures are drawn with pastels on special paper with the addition of colored pencil. As these materials are fragile, our caricatures are made out in frames with glass. We always select the frame individually considering your budget and coloring of the caricature. Pastels provides outstanding brightness of graphic images, color saturation and smooth tonal transitions.
              </p></a>
            </div>
        </li>
        <li>
            <img src="assets/caricature1.jpg">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/5"><h1 class="font-cursive-shadow">Murals</h1></a>
              <a href="./gallery/5"><p class="large-120">Here's some text</p></a>
            </div>
        </li>
        <li>
            <img src="assets/flower1.jpg">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/2"><h1 class="font-cursive-shadow">Oil paintings</h1></a>
              <a href="./gallery/2"><p class="large-120">Here's some text</p></a>
            </div>
        </li>
        <li>
            <img src="assets/ship1.jpg">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/4"><h1 class="font-cursive-shadow">Marker paintings</h1></a>
              <a href="./gallery/4"><p class="large-120">Here's some text</p></a>
            </div>
        </li>
        <li>
            <img src="assets/dog1.jpg">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/3"><h1 class="font-cursive-shadow">Pet portraits</h1></a>
              <a href="./gallery/3"><p class="large-120">Here's some text</p></a>
            </div>
        </li>
    </ul>
</div>

<div id="app">
</div>
