@import "materialize";   //// import Materialize styling first
// @import "*";           //// import all other .css files

//// custom styling goes next

.navbar-color {
  background: #78909C;
}

.navbar-color-dark {
  background: #607D8B;
}

.invisible {
  visibility: hidden;
}

.notice {
  color: #018312;
}

.no-margin {
  margin: auto;
}

.error {
  color: #9c0900;
}

// .navbar-fixed {
//   position: absolute;
//   z-index: 999999999;
// }

.callout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

div.blackfield-right-bottom {
  color: white;
  background-color: black;
  opacity: 0.5;
  width: auto;
  padding: 15px;
  position: fixed;
  bottom: 60px;
  right: 20px;
}

div.blackfield-right-bottom a {
  color: white;
}

.blackfield-main {
  background-color: black;
  opacity: 0.7;
  filter: alpha(opacity=55);
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  overflow-y: scroll;
}

div.blackfield-main a {
  color: white;
}

div.blackfield-main h1,h2,p {
  color: white;
  opacity: 1;
}

.large-140 {
  font-size: 140%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.large-120 {
  font-size: 120%;
  opacity: 1;
  color: white;
}

div.blackfield-main h1,h2 {
  text-align: center;
}
